<div class="settingsContainer column">

    <div class="formSection">

        <form method="POST">

            <h2>User details</h2>

            <input type="text" name="firstName" placeholder="{{userDetails.name}}">
            <!-- <input type="text" name="lastName" placeholder="{{userDetails.name}}"> -->
			<input type="email" name="email" placeholder="{{userDetails.EmailId}}">
			<input type="text" name="username" placeholder="{{userDetails.username}}" disabled>

            <div class="message">
            
            </div>
            
            <input type="submit" name="saveDetailsButton" value="Save">


        </form>

	</div>


    <div class="formSection">

        <form method="POST">

            <h2>Update password</h2>

            <input type="password" name="oldPassword" placeholder="Old password">
            <input type="password" name="newPassword" placeholder="New password">
            <input type="password" name="newPassword2" placeholder="Confirm new password">

            <div class="message">
                
            </div>

            <input type="submit" name="savePasswordButton" value="Save">


        </form>

    </div>

</div>