
	
	<div class="signInContainer">

		<div class="column wrapper" style="min-width: 35%; max-height: 100%;">

			<div class="header" style="margin:0;">
				<img src="assets/images/KhijjFlixLogo.png" title="Logo" alt="Site logo" />
				<h3>Sign Up</h3>
				<span>to continue to Khijjflix</span>
			</div>

			<form method="post" id="form">

				<input type="text" ng-model="firstName" placeholder="First name" required>

				<input type="text" ng-model="lastName" placeholder="Last name" >

				<input type="text" ng-model="username" placeholder="Username" >

				<input type="email" ng-model="email" placeholder="Email" >

				<input type="email" ng-model="email2" placeholder="Confirm email" >

				<input type="password" ng-model="password" placeholder="Password" >

				<input type="password" ng-model="password2" placeholder="Confirm password" >

				<input type="submit" id="submitButton" value="SUBMIT" ng-click="postdata(firstName, lastName, username, email, password)">

			</form>

			<a href="#/login" class="signInMessage">Already have an account? Sign in here!</a>

		</div>

	</div>
